include ../partials/header.pug
h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}
h3 Évènement le #{party.date}
label(for="url") Partagez l'événement
input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite à rejoindre l'évènement ${party.name}`)

form(method="post" action=`/party/${id}/items`)
  div
    label(for="name") Nom de l'item
    input(name="name" id="name" required minlength="1" placeholder="Fromage")
    label(for="user") Nom de la personne
    input(name="user" id="user" required minlength="2" placeholder="Jean Michel")
  button(type="submit") Créer l'item

div
  each item in party.items
    div(class="items")
      div <b>#{item.user}</b> ramène <b>#{item.name}</b>
      form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`)
        button(type="submit") Supprimer